<div class="container">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/category-add']" routerLinkActive="router-link-active"
                class="btn btn-primary mt-4 mb-2" >
                Thêm mới
            </a>

            <table class="table table-bordered">
                <tr>
                   <td>Id</td> 
                   <td>Danh mục</td>
                   <td>
                       Chức năng
                   </td>
                </tr>
                <tr *ngIf="total === 0">
                   <td colspan="3">
                       Chưa có dữ liệu
                   </td> 
                </tr>
                <tr *ngFor="let item of categories">
                    <td>{{item.id}}</td>
                    <td>{{item.categoryName}}</td>
                    <td>
                        <a class="btn btn-warning" [routerLink]="['/category-edit/'+item.id]" routerLinkActive="router-link-active" >
                            Chỉnh sửa
                        </a>
                        <a class="btn btn-danger"
                            (click)="deleteItem(item.id)"
                            >
                            Xóa
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>